@model CourseManagement.ViewModels.TestimonialVM

@{
    ViewData["Title"] = "Edit Testimonial";
}
<section>
    <div class="mt-5">
    </div>
    <h1>Edit Testimonial</h1>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <div class="mt-5">


        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label"></label>
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>



</section>


