@model CourseManagement.ViewModels.SocialMediaVM

@{
    ViewData["Title"] = "Edit Social Media";
}

<section>
    <div class="mt-5 col">
        <h1>Edit Social Media</h1>
        <div>
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col mt-5">
        <div>
            <form asp-action="Edit" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IconFile" class="control-label"></label>
                    <input asp-for="IconFile" type="file" class="form-control" />
                    <span asp-validation-for="IconFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.Icon != null)
                    {
                        <img src="@Model.Icon" alt="@Model.Name" style="width: 100px; height: 100px;" />
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
</section>




